@page
@model PedaloWebApp.Pages.Passengers.IndexModel
@{
    ViewData["Title"] = "Passengers";
}

<h1 class=" text-danger">@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("FirstName")
            </th>
            <th>
                @Html.DisplayName("LastName")
            </th>
            <th></th>
            <th>
                <a class ="btn btn-primary" asp-page="./Create">Create</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Passengers)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PassengerFirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PassengerLastName)
                </td>
                <td>
                    <a class="btn btn-primary" asp-page="./Edit" asp-route-id="@item.PassengerId">Edit</a>
                </td>
            
                <td>
                    <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.PassengerId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>